# DATA ANALYSIS PROJECT: ONLINE EDUCATION SYSTEM

## Determining the Problems

1. What are the factors that may affect the student's performance on the e-learning platform?
2.

## Importing Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns

## Data Wrangling

### Loading the Data

In [6]:
df = pd.read_csv('Dataset/ONLINE EDUCATION SYSTEM REVIEW.csv')

In [7]:
df.head()

,Gender,Home Location,Level of Education,Age(Years),Number of Subjects,Device type used to attend classes,Economic status,Family size,Internet facility in your locality,Are you involved in any sports?,...,Time spent on social media (Hours),Interested in Gaming?,Have separate room for studying?,Engaged in group studies?,Average marks scored before pandemic in traditional classroom,Your interaction in online mode,Clearing doubts with faculties in online mode,Interested in?,Performance in online,Your level of satisfaction in Online Education
0,Male,Urban,Under Graduate,18,11,Laptop,Middle Class,4,5,No,...,1,No,No,No,91-100,1,1,Practical,6,Average
1,Male,Urban,Under Graduate,19,7,Laptop,Middle Class,4,1,Yes,...,1,Yes,Yes,No,91-100,1,1,Theory,3,Bad
2,Male,Rural,Under Graduate,18,5,Laptop,Middle Class,5,2,No,...,1,No,Yes,No,71-80,1,1,Both,6,Bad
3,Male,Urban,Under Graduate,18,5,Laptop,Middle Class,4,4,Yes,...,2,No,No,yes,91-100,1,2,Theory,4,Bad
4,Male,Rural,Under Graduate,18,5,Laptop,Middle Class,4,3,No,...,2,Yes,Yes,yes,81-90,3,3,Both,6,Average

### Assessing the Data

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 23 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Gender                                                         1033 non-null   object
 1   Home Location                                                  1033 non-null   object
 2   Level of Education                                             1033 non-null   object
 3   Age(Years)                                                     1033 non-null   int64
 4   Number of Subjects                                             1033 non-null   int64
 5   Device type used to attend classes                             1033 non-null   object
 6   Economic status                                                1033 non-null   object
 7   Family size                                                    1033 non-null   int64
 8   Internet facility in your locality                             1033 non-null   int64
 9   Are you involved in any sports?                                1033 non-null   object
 10  Do elderly people monitor you?                                 1033 non-null   object
 11  Study time (Hours)                                             1033 non-null   int64
 12  Sleep time (Hours)                                             1033 non-null   int64
 13  Time spent on social media (Hours)                             1033 non-null   int64
 14  Interested in Gaming?                                          1033 non-null   object
 15  Have separate room for studying?                               1033 non-null   object
 16  Engaged in group studies?                                      1033 non-null   object
 17  Average marks scored before pandemic in traditional classroom  1033 non-null   object
 18  Your interaction in online mode                                1033 non-null   int64
 19  Clearing doubts with faculties in online mode                  1033 non-null   int64
 20  Interested in?                                                 1033 non-null   object
 21  Performance in online                                          1033 non-null   int64
 22  Your level of satisfaction in Online Education                 1033 non-null   object
dtypes: int64(10), object(13)
memory usage: 185.7+ KB

In [9]:
df.nunique()

Gender                                                            2
Home Location                                                     2
Level of Education                                                3
Age(Years)                                                       24
Number of Subjects                                               20
Device type used to attend classes                                3
Economic status                                                   3
Family size                                                       9
Internet facility in your locality                                5
Are you involved in any sports?                                   2
Do elderly people monitor you?                                    2
Study time (Hours)                                               10
Sleep time (Hours)                                               10
Time spent on social media (Hours)                               10
Interested in Gaming?                                             2
Have separate room for studying?                                  2
Engaged in group studies?                                         2
Average marks scored before pandemic in traditional classroom    10
Your interaction in online mode                                   5
Clearing doubts with faculties in online mode                     5
Interested in?                                                    3
Performance in online                                             9
Your level of satisfaction in Online Education                    3
dtype: int64

In [10]:
df.isna().sum()

Gender                                                           0
Home Location                                                    0
Level of Education                                               0
Age(Years)                                                       0
Number of Subjects                                               0
Device type used to attend classes                               0
Economic status                                                  0
Family size                                                      0
Internet facility in your locality                               0
Are you involved in any sports?                                  0
Do elderly people monitor you?                                   0
Study time (Hours)                                               0
Sleep time (Hours)                                               0
Time spent on social media (Hours)                               0
Interested in Gaming?                                            0
Have separate room for studying?                                 0
Engaged in group studies?                                        0
Average marks scored before pandemic in traditional classroom    0
Your interaction in online mode                                  0
Clearing doubts with faculties in online mode                    0
Interested in?                                                   0
Performance in online                                            0
Your level of satisfaction in Online Education                   0
dtype: int64

In [11]:
print("Sum of duplicated rows: ", df.duplicated().sum())

Sum of duplicated rows:  0

In [12]:
df.describe()

,Age(Years),Number of Subjects,Family size,Internet facility in your locality,Study time (Hours),Sleep time (Hours),Time spent on social media (Hours),Your interaction in online mode,Clearing doubts with faculties in online mode,Performance in online
count,1033.000000,1033.00000,1033.000000,1033.000000,1033.000000,1033.000000,1033.000000,1033.000000,1033.000000,1033.000000
mean,19.798645,7.03485,4.413359,3.586641,4.325266,6.947725,2.636980,2.930300,2.833495,6.696031
std,3.199158,2.81034,1.236750,1.026063,2.134233,1.324039,1.859625,1.105387,1.163629,1.920048
min,9.000000,1.00000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,18.000000,6.00000,4.000000,3.000000,3.000000,6.000000,1.000000,2.000000,2.000000,6.000000
50%,19.000000,7.00000,4.000000,4.000000,4.000000,7.000000,2.000000,3.000000,3.000000,7.000000
75%,20.000000,8.00000,5.000000,4.000000,6.000000,8.000000,3.000000,4.000000,4.000000,8.000000
max,40.000000,20.00000,10.000000,5.000000,10.000000,10.000000,10.000000,5.000000,5.000000,10.000000

In [14]:
df['Age(Years)'].

KeyError: 'Course Subject'

### Cleaning the Data

## Exploratory Data Analysis (EDA)

## Data Visualization

## Conclusion