# DATA ANALYSIS PROJECT: ONLINE EDUCATION SYSTEM

## Determining the Problems

1. Bagaimana demografi dan latar belakang siswa yang menggunakan sistem pendidikan online?
2. Bagaimana skor performa siswa dalam berbagai status ekonomi dan lokasi rumah (perkotaan vs pedesaan)?
3. Bagaimana kualitas fasilitas internet berdampak pada performa dan kepuasan siswa secara keseluruhan?
4.

## Importing Libraries

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns

## Data Wrangling

### Loading the Data

In [17]:
df = pd.read_csv('Dataset/ONLINE EDUCATION SYSTEM REVIEW.csv')

In [18]:
df.head()

,Gender,Home Location,Level of Education,Age(Years),Number of Subjects,Device type used to attend classes,Economic status,Family size,Internet facility in your locality,Are you involved in any sports?,...,Time spent on social media (Hours),Interested in Gaming?,Have separate room for studying?,Engaged in group studies?,Average marks scored before pandemic in traditional classroom,Your interaction in online mode,Clearing doubts with faculties in online mode,Interested in?,Performance in online,Your level of satisfaction in Online Education
0,Male,Urban,Under Graduate,18,11,Laptop,Middle Class,4,5,No,...,1,No,No,No,91-100,1,1,Practical,6,Average
1,Male,Urban,Under Graduate,19,7,Laptop,Middle Class,4,1,Yes,...,1,Yes,Yes,No,91-100,1,1,Theory,3,Bad
2,Male,Rural,Under Graduate,18,5,Laptop,Middle Class,5,2,No,...,1,No,Yes,No,71-80,1,1,Both,6,Bad
3,Male,Urban,Under Graduate,18,5,Laptop,Middle Class,4,4,Yes,...,2,No,No,yes,91-100,1,2,Theory,4,Bad
4,Male,Rural,Under Graduate,18,5,Laptop,Middle Class,4,3,No,...,2,Yes,Yes,yes,81-90,3,3,Both,6,Average

### Assessing the Data

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 23 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Gender                                                         1033 non-null   object
 1   Home Location                                                  1033 non-null   object
 2   Level of Education                                             1033 non-null   object
 3   Age(Years)                                                     1033 non-null   int64
 4   Number of Subjects                                             1033 non-null   int64
 5   Device type used to attend classes                             1033 non-null   object
 6   Economic status                                                1033 non-null   object
 7   Family size                                                    1033 non-null   int64
 8   Internet facility in your locality                             1033 non-null   int64
 9   Are you involved in any sports?                                1033 non-null   object
 10  Do elderly people monitor you?                                 1033 non-null   object
 11  Study time (Hours)                                             1033 non-null   int64
 12  Sleep time (Hours)                                             1033 non-null   int64
 13  Time spent on social media (Hours)                             1033 non-null   int64
 14  Interested in Gaming?                                          1033 non-null   object
 15  Have separate room for studying?                               1033 non-null   object
 16  Engaged in group studies?                                      1033 non-null   object
 17  Average marks scored before pandemic in traditional classroom  1033 non-null   object
 18  Your interaction in online mode                                1033 non-null   int64
 19  Clearing doubts with faculties in online mode                  1033 non-null   int64
 20  Interested in?                                                 1033 non-null   object
 21  Performance in online                                          1033 non-null   int64
 22  Your level of satisfaction in Online Education                 1033 non-null   object
dtypes: int64(10), object(13)
memory usage: 185.7+ KB

Tipe data pada "Average marks scored before pandemic in traditional classroom" belum sesuai dengan tipe data yang seharusnya. Seharusnya tipe data tersebut adalah float, bukan object.

In [20]:
df.nunique()

Gender                                                            2
Home Location                                                     2
Level of Education                                                3
Age(Years)                                                       24
Number of Subjects                                               20
Device type used to attend classes                                3
Economic status                                                   3
Family size                                                       9
Internet facility in your locality                                5
Are you involved in any sports?                                   2
Do elderly people monitor you?                                    2
Study time (Hours)                                               10
Sleep time (Hours)                                               10
Time spent on social media (Hours)                               10
Interested in Gaming?                                             2
Have separate room for studying?                                  2
Engaged in group studies?                                         2
Average marks scored before pandemic in traditional classroom    10
Your interaction in online mode                                   5
Clearing doubts with faculties in online mode                     5
Interested in?                                                    3
Performance in online                                             9
Your level of satisfaction in Online Education                    3
dtype: int64

In [21]:
# Mengecek nilai null pada dataset
df.isna().sum()

Gender                                                           0
Home Location                                                    0
Level of Education                                               0
Age(Years)                                                       0
Number of Subjects                                               0
Device type used to attend classes                               0
Economic status                                                  0
Family size                                                      0
Internet facility in your locality                               0
Are you involved in any sports?                                  0
Do elderly people monitor you?                                   0
Study time (Hours)                                               0
Sleep time (Hours)                                               0
Time spent on social media (Hours)                               0
Interested in Gaming?                                            0
Have separate room for studying?                                 0
Engaged in group studies?                                        0
Average marks scored before pandemic in traditional classroom    0
Your interaction in online mode                                  0
Clearing doubts with faculties in online mode                    0
Interested in?                                                   0
Performance in online                                            0
Your level of satisfaction in Online Education                   0
dtype: int64

In [22]:
print("Sum of duplicated rows: ", df.duplicated().sum())

Sum of duplicated rows:  0

In [23]:
df.describe()

,Age(Years),Number of Subjects,Family size,Internet facility in your locality,Study time (Hours),Sleep time (Hours),Time spent on social media (Hours),Your interaction in online mode,Clearing doubts with faculties in online mode,Performance in online
count,1033.000000,1033.00000,1033.000000,1033.000000,1033.000000,1033.000000,1033.000000,1033.000000,1033.000000,1033.000000
mean,19.798645,7.03485,4.413359,3.586641,4.325266,6.947725,2.636980,2.930300,2.833495,6.696031
std,3.199158,2.81034,1.236750,1.026063,2.134233,1.324039,1.859625,1.105387,1.163629,1.920048
min,9.000000,1.00000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,18.000000,6.00000,4.000000,3.000000,3.000000,6.000000,1.000000,2.000000,2.000000,6.000000
50%,19.000000,7.00000,4.000000,4.000000,4.000000,7.000000,2.000000,3.000000,3.000000,7.000000
75%,20.000000,8.00000,5.000000,4.000000,6.000000,8.000000,3.000000,4.000000,4.000000,8.000000
max,40.000000,20.00000,10.000000,5.000000,10.000000,10.000000,10.000000,5.000000,5.000000,10.000000

### Cleaning the Data

In [24]:
# Melihat entri "Average marks scored before pandemic in traditional classroom"
df['Average marks scored before pandemic in traditional classroom'].head()

0    91-100
1    91-100
2     71-80
3    91-100
4     81-90
Name: Average marks scored before pandemic in traditional classroom, dtype: object

- Data masih berupa object.
- Terdapat nilai '-' yang tidak sesuai. Perlu juga mengganti data dengan mencari rerata antara 2 angka tersebut.

In [25]:
def calculate_mean(value):
    # Split the string into two parts on the '-' character
    values = value.split('-')
    # Convert the parts to integers and calculate the mean
    mean_value = (int(values[0]) + int(values[1])) / 2
    return mean_value

In [26]:
# Mengaplikasikan fungsi untuk kolom tersebut
df['Average marks scored before pandemic in traditional classroom_mean'] = df['Average marks scored before pandemic in traditional classroom'].apply(calculate_mean)

In [27]:
# Melihat hasil perubahan
df['Average marks scored before pandemic in traditional classroom_mean'].head()

0    95.5
1    95.5
2    75.5
3    95.5
4    85.5
Name: Average marks scored before pandemic in traditional classroom_mean, dtype: float64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 24 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Gender                                                              1033 non-null   object
 1   Home Location                                                       1033 non-null   object
 2   Level of Education                                                  1033 non-null   object
 3   Age(Years)                                                          1033 non-null   int64
 4   Number of Subjects                                                  1033 non-null   int64
 5   Device type used to attend classes                                  1033 non-null   object
 6   Economic status                                                     1033 non-null   object
 7   Family size                                                         1033 non-null   int64
 8   Internet facility in your locality                                  1033 non-null   int64
 9   Are you involved in any sports?                                     1033 non-null   object
 10  Do elderly people monitor you?                                      1033 non-null   object
 11  Study time (Hours)                                                  1033 non-null   int64
 12  Sleep time (Hours)                                                  1033 non-null   int64
 13  Time spent on social media (Hours)                                  1033 non-null   int64
 14  Interested in Gaming?                                               1033 non-null   object
 15  Have separate room for studying?                                    1033 non-null   object
 16  Engaged in group studies?                                           1033 non-null   object
 17  Average marks scored before pandemic in traditional classroom       1033 non-null   object
 18  Your interaction in online mode                                     1033 non-null   int64
 19  Clearing doubts with faculties in online mode                       1033 non-null   int64
 20  Interested in?                                                      1033 non-null   object
 21  Performance in online                                               1033 non-null   int64
 22  Your level of satisfaction in Online Education                      1033 non-null   object
 23  Average marks scored before pandemic in traditional classroom_mean  1033 non-null   float64
dtypes: float64(1), int64(10), object(13)
memory usage: 193.8+ KB

In [29]:
# Menghapus kolom yang tidak diperlukan
df.drop('Average marks scored before pandemic in traditional classroom', axis=1, inplace=True)

In [30]:
df.head()

,Gender,Home Location,Level of Education,Age(Years),Number of Subjects,Device type used to attend classes,Economic status,Family size,Internet facility in your locality,Are you involved in any sports?,...,Time spent on social media (Hours),Interested in Gaming?,Have separate room for studying?,Engaged in group studies?,Your interaction in online mode,Clearing doubts with faculties in online mode,Interested in?,Performance in online,Your level of satisfaction in Online Education,Average marks scored before pandemic in traditional classroom_mean
0,Male,Urban,Under Graduate,18,11,Laptop,Middle Class,4,5,No,...,1,No,No,No,1,1,Practical,6,Average,95.5
1,Male,Urban,Under Graduate,19,7,Laptop,Middle Class,4,1,Yes,...,1,Yes,Yes,No,1,1,Theory,3,Bad,95.5
2,Male,Rural,Under Graduate,18,5,Laptop,Middle Class,5,2,No,...,1,No,Yes,No,1,1,Both,6,Bad,75.5
3,Male,Urban,Under Graduate,18,5,Laptop,Middle Class,4,4,Yes,...,2,No,No,yes,1,2,Theory,4,Bad,95.5
4,Male,Rural,Under Graduate,18,5,Laptop,Middle Class,4,3,No,...,2,Yes,Yes,yes,3,3,Both,6,Average,85.5

## Exploratory Data Analysis (EDA)

### Bagaimana demografi dan latar belakang siswa yang menggunakan sistem pendidikan online?

Berdasarkan:
- gender
- Lokasi rumah
- Level Edukasi
- Usia
- Status Ekonomi

In [66]:
# Mengelompokkan data berdasarkan gender
gender_data = df.groupby('Gender').size().reset_index(name='Jumlah')
gender_data

   Gender  Jumlah
0  Female     419
1    Male     614

In [61]:
# Mengelompokkan data berdasarkan lokasi rumah
location_data = df.groupby('Home Location').size().reset_index().rename(columns={'Home Location': 'Lokasi Rumah', 0: 'Jumlah'})

location_data

  Lokasi Rumah  Jumlah
0        Rural     354
1        Urban     679

In [62]:
# Mengelompokkkan data berdasarkan level edukasi
education_data = df.groupby('Level of Education').size().reset_index().rename(columns={'Level of Education': 'Pendidikan', 0: 'Jumlah'})

education_data

       Pendidikan  Jumlah
0   Post Graduate     129
1          School      87
2  Under Graduate     817

In [63]:
# Mengelompokkan data berdasarkan usia
age_data = df.groupby('Age(Years)').size().reset_index().rename(columns={'Age(Years)': 'Usia', 0: 'Jumlah'})

age_data

    Usia  Jumlah
0      9       2
1     12       2
2     17      99
3     18     220
4     19     226
5     20     249
6     21     127
7     22      39
8     23      19
9     24      14
10    25       7
11    26       3
12    27       1
13    28       1
14    29       1
15    30       1
16    32       1
17    34       3
18    35       1
19    36       2
20    37       3
21    38       1
22    39       2
23    40       9

In [65]:
# Mengelompokkan data berdasarkan status ekonomi
economic_data = df.groupby('Economic status').size().reset_index().rename(columns={'Economic status': 'Status Ekonomi', 0: 'Jumlah'})

economic_data

  Status Ekonomi  Jumlah
0   Middle Class     954
1           Poor      49
2           Rich      30

### Bagaimana skor performa siswa dalam berbagai status ekonomi dan lokasi rumah (perkotaan vs pedesaan)?

## Data Visualization

## Conclusion